# MODX-related files #
######################
config.core.php

# Build-related files for distribution #
########################################
_packages
vendor

# Development-related files #
.idea
.vscode
deploy*.sh
/.php-cs-fixer.cache
